@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-rgb: 30, 108, 255
  --secondary-light-rgb: 61, 162, 255
  --secondary-medium-rgb: 0, 87, 255
  --secondary-dark-rgb: 9, 27, 185
  --accent-rgb: 61, 208, 255
  --gradient-start-rgb, 41, 140, 255
  --gradient-end-rgb: 15, 68, 255
}

